.card-nota {
  justify-content: space-between;
  background-color: var(--fundo-detalhes);
  border-radius: 4px;
  flex-wrap: wrap;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  padding: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card-nota-cabecalho {
  font-size: 1.1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid rgb(124, 124, 124);
  padding-bottom: 5px;
}

.card-nota-cabecalho .info {
  align-items: space-between;
}

.card-nota-cabecalho h3 {
  font-weight: 700;
  font-size: 20px;
}

.card-nota-cabecalho h4 {
  background-color: rgb(65, 146, 221);
  color: white;
  margin-top: 5px;
  padding: 4px 8px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}

.card-nota-titulo {
  font-size: 1.2rem;
  margin-right: 12px;
}

.card-nota-texto {
  margin-top: 8px;
  font-size: 1em;
}

.card-nota-cabecalho svg {
  cursor: pointer;
}
